{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__CLIENT__": false,
    "__DEVTOOLS__": false,
    "analytics": false,
    "fetch": true
  },
  "rules": {
    "comma-dangle": [1, "never"],
    "space-before-function-paren": [2, "never"],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "react/jsx-boolean-value": [2, "always"],
    "arrow-body-style": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react/jsx-filename-extension": 0,
    "arrow-parens": [2, "always"],
    "react/no-multi-comp": 0
  }
}
